<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hunter.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @hunter.image %>
</p>

<p>
  <strong>Gun:</strong>
  <%= @hunter.gun %>
</p>

<%= link_to 'Edit', edit_hunter_path(@hunter) %> |
<%= link_to 'Back', hunters_path %>
