<h1> Seja bem vindo! escolha seu idioma:</h1>
<p><strong>Data:</strong> <%= l(Date.today)%> </p>
<p> <%= link_to t('language.portuguese'), root_path(locale: 'pt-BR') %> </p>
<p> <%= link_to t('language.english'), root_path(locale: 'en') %> </p>
<%= render "menu" %>
<p> <%= t('hello')%> </p>
