<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :mining_type_id %>
    <%= form.select("mining_type_id", @mining_type_options, { include_blank: 'Selecione uma opção' }) %>
  </div>

  <div class="field">
    <%= form.label :hunter_id %>
    <%= form.select("hunter_id", @hunter_options, { include_blank: 'Selecione uma opção' }) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
