<%= form_with(model: pc_type, local: true) do |form| %>
  <% if pc_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc_type.errors.count, "error") %> prohibited this pc_type from being saved:</h2>

      <ul>
      <% pc_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div class="field">
    <%= form.label : %>
    <%= form.text_field : %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
