<p id="notice"><%= notice %></p>

<h1>Pc Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acronym</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pc_types.each do |pc_type| %>
      <tr>
        <td><%= pc_type.name %></td>
        <td><%= pc_type.acronym %></td>
        <td><%= pc_type. %></td>
        <td><%= link_to 'Show', pc_type %></td>
        <td><%= link_to 'Edit', edit_pc_type_path(pc_type) %></td>
        <td><%= link_to 'Destroy', pc_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pc Type', new_pc_type_path %>
