<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pc_type.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @pc_type.acronym %>
</p>

<p>
  <strong>:</strong>
  <%= @pc_type. %>
</p>

<%= link_to 'Edit', edit_pc_type_path(@pc_type) %> |
<%= link_to 'Back', pc_types_path %>
